# secrets
.env

# jupyter output
.ipynb_checkpoints/

# raw data (too big for Github)
data/*
!data/README.md

# dirty notebooks
notebooks/

# manuscript writing
draft/*

# html maps
**/*.html

# Inkscape files
figures/*.svg

# manuscript writing
draft/*

# ???
**/.DS_Store
